 html {
     height: 100%
 }

 body {
     height: 100%;
     margin: 0;
     padding: 0
 }

 #map {
     height: 100%
 }

 /* Change la couleur du texte et du fond du contenu */
 .popup-rouge .leaflet-popup-content-wrapper {
     background-color: #ff0000;
     /* Fond rouge */
     color: #ffffff;
     /* Texte blanc pour le contraste */
     font-weight: bold;
     border-radius: 8px;
     /* Arrondit les angles (optionnel) */
 }

 /* Change la couleur du petit triangle sous le popup */
 .popup-rouge .leaflet-popup-tip {
     background-color: #ff0000;
     /* Même rouge */
 }

 /* Change la couleur de la croix de fermeture (optionnel) */
 .popup-rouge .leaflet-popup-close-button {
     color: #ffffff !important;
 }

 #filtre {
     position: absolute;
     top: 10px;
     left: 50px;
     /* laisser de la place aux boutons zoom */
     z-index: 1000;
     /* au dessus de la carte */
     background: white;
     padding: 10px 15px;
     border-radius: 8px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
     display: flex;
     /* horizontal */
     gap: 8px;
     align-items: center;
 }

 #filtre input,
 #filtre select {
     padding: 6px;
     font-size: 13px;
     border: 1px solid #ccc;
     border-radius: 4px;
 }

 #filtre button {
     padding: 6px 12px;
     background: #2c7be5;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }